span.crown:after {
    content: '';
    background: url(/assets/images/crown.svg);
    width: 55px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: -20px;
    transform: translateY(-50%);
}



.wrapper {
    max-width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 20s linear infinite;
  }
  
  .marquee p {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }